/* ALL TYPE IN FIGTREE (for now); Gotham requires purchase for webfont use */

/*********************** UNIVERSAL STYLES ********************************/
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Figtree", 'Helvetica', sans-serif;
    background-color: #040707;
    overflow-x: hidden !important;
}

h1,
h2,
h3,
li,
i {
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    color: #EC934B;

}

p {
    color: #c8c8c8;
    font-size: 14pt;
    line-height: 160%;
}

ul {
    padding: 0;
}

b {
    font-weight: 700;
    color: #c8c8c8;
}

a {
    text-decoration: none;
    color: #EC934B;
    font-size: 14pt;
}

.underline {
    padding-bottom: .5rem;
    border-bottom: 2px solid #EC934B;

}



/******************** MOBILE STYLES ********************/

/* --------- HAMBURGER NAV -------- */

.open {
    display: block;
}


.desktop-nav {
    display: none;
}


.mobile-nav {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2.5rem 2.5rem 2rem;
    width: 100%;
    transition: .3s all;
    align-items: center;
    background: rgb(4, 7, 7);
    background: linear-gradient(180deg, rgba(4, 7, 7, 1) 16%, rgba(34, 11, 11, 0) 100%);
}

.logo {
    z-index: 0;
    width: 60vw;
}

nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 120vh;
    top: 0px;
    background-color: #040707e7;
    padding: 12rem 3rem;
    z-index: 1;
    transition: .3s all;
    font-size: 15pt;

    li {
        margin: 6rem 0rem;
    }

    a {
        font-size: 35pt;
        color: #EC934B;

    }
}


.menu-button {
    background-color: rgba(243, 232, 226, 0);
    border: 0px solid transparent;
    line-height: 0;
    z-index: 1;
    color: #EC934B;
    z-index: 1;
}

ul .menu-button {
    position: absolute;
    right: 50px;
    top: 50px;
    color: #EC934B;
}

/* --------- HAMBURGER END -------- */

main {
    padding: 0rem 10vw;
}

/* --------- HERO AREA -------- */

.hero {
    text-align: center;
    padding-bottom: 9rem;


    h1 {
        font-weight: 700;
        font-size: 100pt;
        padding: 30vh 10vw;
        text-shadow: 2px 2px 10px #000000;
        line-height: 3.5rem;
    }

}

/* --------- HERO AREA END -------- */
/* --------- INTRO -------- */

.intro {

    padding: 6rem 0rem;

    h2 {
        font-size: 32pt;
        line-height: 3.5rem;
        margin-bottom: 2%;
    }

    p {
        padding: 1rem 0rem;
    }

}

/* --------- INTRO END -------- */
/* --------- LOCATION -------- */

/* Hidden on mobile */
.desktop-map {
    display: none;
}

.location {

    padding: 5rem 0rem;
    position: relative;

    i {
        padding: 1rem 0rem;
    }

    h2 {
        font-size: 24pt;
        padding-bottom: 1rem;
    }

    .download-map-wrapper {
        display: inline-block;
    }

    .location-body-date {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .location-body-date-1 {
        padding-bottom: 16px;
    }

    .location-body-address {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 3rem 0rem 2rem 0rem;
    }
}

/* --------- LOCATION END -------- */
/* --------- STUDENTS -------- */

.students {
    padding: 3rem 0rem;
    position: relative;
}

.students-heading {
    h2 {
        font-size: 40pt;
        text-shadow: 2px 2px 10px #000000;
    }

    .students p,
    b {
        font-size: 16px;
        text-transform: uppercase;
        color: #EC934B !important;
        padding: 1rem 0rem 4rem 0rem;
    }
}

.sudents h3 {
    font-size: 18pt;
}


.students li a {
    font-size: 13pt;
    font-weight: 600;
    text-shadow: 2px 2px 10px #000000;
    line-height: 6rem;
}

.students-o {
    padding: 4rem 0rem 10rem 0rem;
}

/* --------- STUDENTS END -------- */
/* --------- FOOTER -------- */

footer {
    background: rgb(34, 11, 11);
    background: linear-gradient(180deg, rgba(34, 11, 11, 1) 31%, rgba(4, 7, 7, 1) 88%);
    padding: 3rem 10vw 4rem 10vw;

    p {
        font-size: 12pt;
        color: #EC934B !important;
    }

    img {
        padding: 2rem 0rem;
    }

    i {
        padding-right: 1rem;
    }
}

/* --------- FOOTER END -------- */
/* --------- ORANGE BACKGROUND GRAPHICS -------- */

.line-graphics {
    z-index: -1;
    padding: 0rem !important;
}

.graphic-home-1 {
    position: absolute;
    top: -40px;
    left: -10px;
    max-width: 80vw;

}

.graphic-home-2 {
    position: absolute;
    top: 600px;
    right: -50px;
    max-width: 90vw;

}

.graphic-home-3 {
    position: absolute;
    right: 120px;
    top: -60px;
    width: 100vw;

}

.graphic-home-4 {
    position: absolute;
    right: -130px;
    top: -60px;
    min-width: 100vw;

}

.graphic-home-5 {
    position: absolute;
    left: -100px;
    bottom: -60px;

}

/* --------- ORANGE BACKGROUND GRAPHICS END -------- */
/******************** STUDENT PAGE MOBILE STYLES********************/

.student-bio {
    display: flex;
    gap: 4rem;
    flex-direction: column-reverse;


    h2 {
        font-size: 32pt;
        line-height: 3.5rem;
    }

    h3 a {
        font-size: 14pt;
    }

    p {
        padding: 3rem 0rem;
        text-shadow: 2px 2px 10px #000000;
    }

    .portrait {
        box-shadow: 2px 2px 60px 4px rgba(255, 183, 0, 0.526);
    }

    .line-graphics-2 {
        position: absolute;
        right: 2px;
        top: -900px;
    }

}

.social-bio {

    h2 {
        font-size: 25pt;
        line-height: 3.5rem;
    }

    .social-bio-heading h3 {
        color: #c8c8c8;
        padding: 1rem 0rem;
        width: 50vw;
    }

    .social-bio-body {
        padding: 1rem 0rem 3rem 0rem;
    }

    img {
        padding: 5rem 0rem;
    }

}

/******************** STUDENT PAGE MOBILE STYLES END********************/
/******************** ABOUT PAGE MOBILE STYLES********************/

.about-hero {
    background-image: url('/img/class-photo.png');
    background-size: cover;
    background-position: center;
    padding-top: 45vw;
    margin-bottom: 3rem;
}

.class-bio {

    p {
        font-size: 14pt;
        padding-bottom: 2rem;
    }

    .class-bio-c1 h2 {
        font-size: 25pt;
        width: 50vw;
        line-height: 3rem;
        padding-bottom: 1rem;
    }

    .class-bio-text {
        margin-bottom: 3rem;
    }

    .class-bio-c2 h2,
    .class-bio-c3 h2 {
        font-size: 30pt;
    }

    .class-bio-c2 h3,
    .class-bio-c3 h3 {
        font-size: 13pt;
    }

}

.venue {
    padding: 2rem 0rem;
    position: relative;

    .venue-text {
        padding-top: 3rem;
    }
}

.h3-about {
    padding-bottom: .5rem;
    font-size: 20pt;
}

.date-sponsors {

    position: relative;

    p {
        padding: .25rem 0rem;
        text-shadow: 2px 2px 10px #000000;
    }


    .public {
        padding: 2rem 0rem;
    }

    .celebration {
        padding: 2rem 0rem;
    }

    .sponsors {
        padding: 2rem 0rem;
    }
}

.graphic-about-1 {
    position: absolute;
    right: -100px;
    top: 70px;

}

.graphic-about-2 {
    position: absolute;
    left: -50px;
    top: 300px;
}

/******************** ABOUT PAGE MOBILE STYLES END********************/

/************************************** HOME DESKTOP STYLES **************************************/

@media screen and (min-width: 900px) {

    p {
        font-size: 14pt;
    }

    h3 a {
        font-size: 16pt;
    }



    /* --------- DESKTOP NAV -------- */

    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem;
        background: rgb(4, 7, 7);
        background: linear-gradient(180deg, rgba(4, 7, 7, 1) 20%, rgba(34, 11, 11, 0) 100%);

        position: fixed;
        width: 100vw;
        z-index: 1;

        .logo {
            max-width: 20vw;
            padding-left: 2.5rem;
        }

        .links {
            display: flex;
            flex-direction: row;
            gap: 6rem;
            padding-right: 4rem;
            align-items: center;
        }

        a {
            transition: all .3s ease-out;
            font-size: 12pt;
        }

        a:hover {
            transition: all .3s ease-out;
            color: #830a15;
        }
    }

    /* --------- DESKTOP NAV END -------- */

    main {
        padding: 0rem 5vw;
    }

    /* --------- HERO AREA -------- */

    .hero {
        height: 900px;
        width: 100%
    }

    .hero h1 {
        font-size: 50pt;
        padding: 40vh 4rem 25vh 4rem;
    }

    .hero i {
        transform: scale(65%);
    }

    /* --------- HERO AREA END -------- */
    /* --------- INTRO -------- */

    .intro {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .intro h2 {
        width: 50vw;
        font-size: 40pt;
    }

    .intro p {
        width: 50vw;
    }

    /* --------- INTRO END -------- */
    /* --------- LOCATION -------- */

    /* Hidden on desktop */
    .mobile-map {
        display: none;
    }

    .location {

        .desktop-map {
            display: block;

        }

        .location-body-heading h2 {
            font-size: 40pt;
            padding-bottom: 16px;
        }

        .location-body-address {
            padding: 0rem;
        }

        .location-body {
            display: flex;
            gap: 12rem;
        }

        p {
            line-height: 35px;
        }
    }

    /* --------- LOCATION END -------- */
    /* --------- STUDENTS -------- */

    .students {
        padding: 3rem 0rem 3rem 0rem;
    }

    .students h3,
    p,
    li a,
    .longname {
        font-size: 14pt;
        transition: .3s all;
    }

    li a:hover {
        color: #830a15;
        transition: .2s all;
    }

    .students-heading {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    .students-heading h2 {
        font-size: 40pt;
    }

    .students-heading p {
        color: #EC934B;
        font-size: 14pt;
        padding: 1.5rem 0rem 4rem 0rem;
        text-transform: uppercase;
    }

    .students-o {
        padding: 3rem 0rem;
    }

    .students-ip-roster ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 6rem;
    }

    .students-o-roster ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 6rem;
    }

    /* --------- STUDENTS END -------- */
    /* --------- FOOTER -------- */

    footer {

        padding: 2.5rem 5vw 2.5rem 5vw;

        .footer-body {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        p {
            font-size: 12pt;
            color: #EC934B;
        }

        .logo {
            max-width: 15vw;
            margin-right: 4rem;
        }

        i {
            padding-right: 1rem;
            transform: scale(60%);
        }
    }

    /* --------- FOOTER END -------- */

    /* --------- ORANGE BACKGROUND GRAPHICS -------- */

    .line-graphics {
        z-index: -1;
        padding: 0rem !important;
    }

    .graphic-home-1 {
        position: absolute;
        top: -100px;
        left: 0px;
        max-width: 33vw;

    }

    .graphic-home-2 {
        position: absolute;
        top: 300px;
        right: -20px;
        max-width: 40vw;

    }

    .graphic-home-3 {
        position: absolute;
        left: -100px;
        top: -30px;
        width: 50vw;

    }

    .graphic-home-4 {
        position: absolute;
        right: -120px;
        top: -120px;
        min-width: 50vw;

    }

    .graphic-home-5 {
        position: absolute;
        left: -100px;
        bottom: -100px;

    }

    /* --------- ORANGE BACKGROUND GRAPHICS END -------- */
    /******************** STUDENT PAGE DESKTOP STYLES********************/

    .student-bio {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        padding: 10rem 0rem;
        gap: 6rem;

        .portrait {
            margin-right: 4rem;
        }

        .student-bio-body {
            padding-top: 3rem;
        }
    }

    .social-bio {
        display: grid;
        grid-template-columns: 1fr 3fr;
        width: 70vw;
        gap: 3rem;
        padding: 2rem 0rem;

        .social-bio-heading h3 {
            width: 20vw;
        }

    }

    /******************** STUDENT PAGE DESKTOP STYLES END ********************/
    /******************** ABOUT PAGE DESKTOP STYLES********************/


    .class-bio {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 2rem;
        padding: 2rem 4rem 2rem 0rem;


        .class-bio-c1 {
            width: 35vw;
        }
    }

    .venue {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        align-items: end;
        padding-top: 4rem;
        position: relative;


        .map {
            box-shadow: 2px 2px 30px 3px rgba(255, 183, 0, 0.382);
        }

        .venue-text {
            padding-bottom: 2rem;
        }
    }

    .date-sponsors {
        display: grid;
        grid-template-columns: .75fr 1fr;
        padding: 4vw 0vw 8vw 12vw;
        position: relative;
    }

    .graphic-about-1 {
        position: absolute;
        right: -100px;
        top: -100px;
        width: 32%;
    }

    .graphic-about-2 {
        position: absolute;
        left: -100px;
        top: 100px;
        width: 32%;
    }

    /******************** ABOUT PAGE DESKTOP END ********************/

}